// Variables
// =============================================================================
$z-index: (
    progress    : 60,
    overlay     : 50,
    sidebar     : 40,
    githubcorner: 30,
    navbar      : 20,
    coverpage   : 10
);
