// Base
// =============================================================================
:root {
    // Monochrome: hue and saturation
    --mono-hue             : 201;
    --mono-saturation      : 18%;

    // Monochrome: shades (darker) and tints (lighter)
    --mono-shade3          : hsl(var(--mono-hue), var(--mono-saturation), 13%);
    --mono-shade2          : hsl(var(--mono-hue), var(--mono-saturation), 15%);
    --mono-shade1          : hsl(var(--mono-hue), var(--mono-saturation), 17%);
    --mono-base            : hsl(var(--mono-hue), var(--mono-saturation), 19%);
    --mono-tint1           : hsl(var(--mono-hue), var(--mono-saturation), 25%);
    --mono-tint2           : hsl(var(--mono-hue), var(--mono-saturation), 35%);
    --mono-tint3           : hsl(var(--mono-hue), var(--mono-saturation), 43%);

    // Base
    --base-background-color: var(--mono-base);
    --base-color           : #d3d3d3;
}
