// Content
// =============================================================================
:root {
    // Blockquote
    --blockquote-background      : var(--mono-shade2);
    --blockquote-quotes-color    : var(--mono-tint1);

    // Code
    --code-inline-background     : var(--mono-tint1);

    --code-theme-background      : var(--mono-shade2);
    --code-theme-comment         : #516e7a;
    --code-theme-function        : #f07178;
    --code-theme-keyword         : #c2e78c;
    --code-theme-operator        : #ffcb6b;
    --code-theme-punctuation     : #89ddff;
    --code-theme-selection       : rgba(255, 255, 255, 0.2);
    --code-theme-selector        : #ffcb6b;
    --code-theme-tag             : #f07178;
    --code-theme-text            : #f3f3f3;
    --code-theme-variable        : #ffcb6b;

    // Headings
    --heading-color              : #fff;
    --heading-h2-border-color    : var(--mono-tint2);

    /* Horizontal Rule */
    --hr-border                  : 1px solid var(--mono-tint2);

    // Keyboard
    --kbd-background             : var(--mono-shade2);
    --kbd-border                 : none;
    --kbd-color                  : var(--strong-color);

    /* Mark */
    --mark-background            : #ffcb6b;
    --mark-color                 : var(--base-background-color);

    // Notice - Important
    --notice-important-background: var(--mono-shade2);

    // Notice - Tip
    --notice-tip-background      : var(--mono-shade2);

    /* Tables */
    --table-cell-border-color    : var(--mono-tint1);
    --table-head-border-color    : var(--mono-tint1);
    --table-row-odd-background   : var(--mono-shade2);
}
