// // Cover
// // =============================================================================
:root {
    // Background
    --cover-background-color: var(--base-background-color);
    --cover-background-image: radial-gradient(ellipse at center bottom, var(--mono-tint3), transparent);

    // Blockquote (Subtitle)
    --cover-blockquote-color: var(--mark-background);

    // Buttons
    --cover-button-border   : 1px solid var(--mono-tint3);
    --cover-button-color    : #fff;
}
