// Sidebar
// =============================================================================
:root {
    --sidebar-background                : var(--color-background-shade1);
    --sidebar-border-color              : var(--color-background-tint1);

    // Toggle
    --sidebar-toggle-background         : var(--color-background-tint1);
}
