// Sidebar
// =============================================================================
:root {
    --sidebar-background                : transparent;
    --sidebar-border-color              : var(--color-background-tint2);

    // Toggle
    --sidebar-toggle-background         : var(--color-background-tint2);
}
