/* Base
============================================================================= */
:root {
    /* Color
    ------------------------------------------------------------------------- */
    --base-background-color : #fff;
    --base-color            : #4c4c4c;

    /* Monochrome */
    --mono-hue              : 113;
    --mono-saturation       : 0%;

    /* Monochrome tints (lighter) and shades (darker) */
    --mono-shade1           : hsl(var(--mono-hue), var(--mono-saturation), 97%);
    --mono-shade2           : hsl(var(--mono-hue), var(--mono-saturation), 89%);
    --mono-shade3           : hsl(var(--mono-hue), var(--mono-saturation), 70%);

    /* Selection */
    --selection-color       : #b4d5fe;

    /* Theme */
    --theme-color           : #546e7a;

    /* Typography
    ------------------------------------------------------------------------- */
    /* Modular Scale - https: //type-scale.com/ */
    --modular-scale         : 1.333;
    --modular-scale--2      : calc(var(--modular-scale-2) / var(--modular-scale));
    --modular-scale--1      : calc(var(--modular-scale-1) / var(--modular-scale));
    --modular-scale-1       : 1rem;
    --modular-scale-2       : calc(var(--modular-scale-1) * var(--modular-scale));
    --modular-scale-3       : calc(var(--modular-scale-2) * var(--modular-scale));
    --modular-scale-4       : calc(var(--modular-scale-3) * var(--modular-scale));
    --modular-scale-5       : calc(var(--modular-scale-4) * var(--modular-scale));
    --modular-scale-6       : calc(var(--modular-scale-5) * var(--modular-scale));

    /* Font size */
    --font-size-xxl         : var(--modular-scale-4);
    --font-size-xl          : var(--modular-scale-3);
    --font-size-l           : var(--modular-scale-2);
    --font-size-m           : var(--modular-scale-1);
    --font-size-s           : var(--modular-scale--1);
    --font-size-xs          : var(--modular-scale--2);

    /* Root */
    --base-font-family      : -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-font-size        : 15px;
    --base-font-weight      : ;
    --base-letter-spacing   : ;
    --base-line-height      : 1.6;

    /* Style
    ------------------------------------------------------------------------- */
    /* Borders */
    --border-radius-s       : ;
    --border-radius-m       : ;
    --border-radius-l       : ;

    /* Animation & Transitions
    ------------------------------------------------------------------------- */
    --duration-slow         : 1s;
    --duration-medium       : 0.5s;
    --duration-fast         : 0.25s;
}
