// Content
// =============================================================================
:root {
    --content-max-width                : 55em;

    // Blockquote
    --blockquote-background            : var(--color-gray-lightest);
    --blockquote-border-color          : null;
    --blockquote-border-style          : null;
    --blockquote-border-width          : null;
    --blockquote-border-radius         : var(--border-radius-m);
    --blockquote-color                 : null;
    --blockquote-em-font-family        : null;
    --blockquote-em-font-size          : null;
    --blockquote-em-font-style         : null;
    --blockquote-em-font-weight        : null;
    --blockquote-font-family           : null;
    --blockquote-font-size             : null;
    --blockquote-font-style            : null;
    --blockquote-font-weight           : null;
    --blockquote-quotes-close          : null;
    --blockquote-quotes-color          : null;
    --blockquote-quotes-font-family    : null;
    --blockquote-quotes-font-size      : null;
    --blockquote-quotes-open           : null;

    // Code
    --code-font-family                 : Inconsolata, Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    --code-font-size                   : calc(var(--font-size-m) * 0.95);
    --code-font-weight                 : null;
    --code-tab-size                    : 4;

    --code-block-background            : var(--color-gray-lightest);
    --code-block-border-radius         : var(--border-radius-m);
    --code-block-line-height           : null;
    --code-block-margin                : 1em 0;
    --code-block-padding               : 1.75em 1.5em 1.5em 1.5em;

    --code-inline-background           : var(--color-gray-lighter);
    --code-inline-border-radius        : var(--border-radius-s);
    --code-inline-margin               : 0 0.15em;
    --code-inline-padding              : 0.125em 0.4em;

    // Emoji
    --emoji-size                       : calc(var(--root-line-height) * 1em);

    // Headings
    --heading-color                    : var(--color-gray-darkest);
    --heading-font-family              : null;
    --heading-font-weight              : null;
    --heading-margin                   : 2.5rem 0 0;
    --heading-padding                  : null;
    --heading-h1-border-color          : null;
    --heading-h1-border-style          : null;
    --heading-h1-border-width          : null;
    --heading-h1-color                 : null;
    --heading-h1-font-family           : null;
    --heading-h1-font-size             : var(--font-size-xxl);
    --heading-h1-font-weight           : null;
    --heading-h1-margin                : null;
    --heading-h1-padding               : null;
    --heading-h2-border-color          : null;
    --heading-h2-border-style          : null;
    --heading-h2-border-width          : null;
    --heading-h2-color                 : null;
    --heading-h2-font-family           : null;
    --heading-h2-font-size             : var(--font-size-xl);
    --heading-h2-font-weight           : null;
    --heading-h2-margin                : null;
    --heading-h2-padding               : null;
    --heading-h3-border-color          : null;
    --heading-h3-border-style          : null;
    --heading-h3-border-width          : null;
    --heading-h3-color                 : null;
    --heading-h3-font-family           : null;
    --heading-h3-font-size             : var(--font-size-l);
    --heading-h3-font-weight           : null;
    --heading-h3-margin                : null;
    --heading-h3-padding               : null;
    --heading-h4-border-color          : null;
    --heading-h4-border-style          : null;
    --heading-h4-border-width          : null;
    --heading-h4-color                 : null;
    --heading-h4-font-family           : null;
    --heading-h4-font-size             : var(--font-size-m);
    --heading-h4-font-weight           : null;
    --heading-h4-margin                : null;
    --heading-h4-padding               : null;
    --heading-h5-border-color          : null;
    --heading-h5-border-style          : null;
    --heading-h5-border-width          : null;
    --heading-h5-color                 : null;
    --heading-h5-font-family           : null;
    --heading-h5-font-size             : var(--font-size-s);
    --heading-h5-font-weight           : null;
    --heading-h5-margin                : null;
    --heading-h5-padding               : null;

    // Horizontal Rule
    --hr-border                        : 1px solid var(--color-gray-lighter);

    // Keyboard
    --kbd-background                   : null;
    --kbd-border                       : 1px solid currentColor;
    --kbd-border-radius                : var(--border-radius-s);
    --kbd-font-size                    : null;
    --kbd-margin                       : 0 0.3em;
    --kbd-min-width                    : 2.5em;
    --kbd-padding                      : 0.65em 0.5em;

    // Links
    --link-border-bottom               : null;
    --link-border-bottom--hover        : null;
    --link-color                       : null;
    --link-color--hover                : null;
    --link-text-decoration             : underline;
    --link-text-decoration--hover      : null;
    --link-text-decoration-color       : null;
    --link-text-decoration-color--hover: null;

    // Notices (Tip & Warning)
    --notice-before-border-radius      : null;
    --notice-before-font-family        : null;
    --notice-before-font-size          : null;
    --notice-before-font-weight        : null;
    --notice-before-height             : null;
    --notice-before-left               : null;
    --notice-before-line-height        : null;
    --notice-before-padding            : null;
    --notice-before-position           : null;
    --notice-before-top                : null;
    --notice-before-width              : null;
    --notice-border-radius             : var(--border-radius-m);
    --notice-font-family               : null;
    --notice-font-weight               : null;

    // Notice - Tip
    --notice-tip-background            : var(--color-gray-lightest);
    --notice-tip-before-background     : null;
    --notice-tip-before-color          : null;
    --notice-tip-before-content        : null;
    --notice-tip-border-style          : null;
    --notice-tip-border-width          : null;
    --notice-tip-border-color          : null;
    --notice-tip-color                 : null;

    // Notice - Warning
    --notice-warn-background           : var(--color-gray-lightest);
    --notice-warn-before-background    : null;
    --notice-warn-before-color         : null;
    --notice-warn-before-content       : null;
    --notice-warn-border-style         : null;
    --notice-warn-border-width         : null;
    --notice-warn-border-color         : null;
    --notice-warn-color                : null;

    // Preformatted
    --pre-font-family                  : var(--code-font-family);
    --pre-font-size                    : var(--code-font-size);
    --pre-font-weight                  : null;
    --pre-line-height                  : null;

    // Small
    --small-font-size                  : var(--font-size-s);

    // Strong
    --strong-font-weight               : bolder;

    // Sub/Sup
    --subsup-font-size                 : var(--font-size-s);

    // Tables
    --table-body-border-color          : var(--color-gray-lighter);
    --table-body-border-width          : 0 0 1px 0;
    --table-cell-border-color          : var(--color-gray-lighter);
    --table-cell-border-width          : 1px 0;
    --table-cell-padding               : 0.75em 0.5em;
    --table-head-background            : null;
    --table-head-border-color          : var(--color-gray-lighter);
    --table-head-border-width          : null;
    --table-head-font-weight           : var(--strong-font-weight);
    --table-row-even-background        : null;
    --table-row-odd-background         : var(--color-gray-lightest);
}
