// Navbar
// =============================================================================
:root {
    // Links
    --navbar-link-background                        : null;
    --navbar-link-background--active                : null;
    --navbar-link-background--hover                 : null;
    --navbar-link-border-color                      : null;
    --navbar-link-border-color--active              : null;
    --navbar-link-border-color--hover               : null;
    --navbar-link-border-radius                     : null;
    --navbar-link-border-style                      : solid;
    --navbar-link-border-style--active              : null;
    --navbar-link-border-style--hover               : null;
    --navbar-link-border-width                      : null;
    --navbar-link-color                             : null;
    --navbar-link-color--active                     : null;
    --navbar-link-color--hover                      : null;
    --navbar-link-margin                            : 0 0 0 1.5em;
    --navbar-link-padding                           : null;
    --navbar-link-transition                        : all var(--duration-fast);
    --navbar-link-text-decoration                   : null;
    --navbar-link-text-decoration--active           : null;
    --navbar-link-text-decoration--hover            : null;
    --navbar-link-text-decoration-color             : null;
    --navbar-link-text-decoration-color--active     : null;
    --navbar-link-text-decoration-color--hover      : null;

    // Menus
    --navbar-menu-background                        : var(--body-background-color);
    --navbar-menu-border-color                      : null;
    --navbar-menu-border-radius                     : var(--border-radius-m);
    --navbar-menu-border-width                      : null;
    --navbar-menu-box-shadow                        : rgba(45,45,45,0.05) 0px 0px 1px, rgba(49,49,49,0.05) 0px 1px 2px, rgba(42,42,42,0.05) 0px 2px 4px, rgba(32,32,32,0.05) 0px 4px 8px, rgba(49,49,49,0.05) 0px 8px 16px, rgba(35,35,35,0.05) 0px 16px 32px;
    --navbar-menu-padding                           : 0.5em;
    --navbar-menu-transition                        : all var(--duration-fast);

    // Menu Links
    --navbar-menu-link-background                   : null;
    --navbar-menu-link-background--active           : null;
    --navbar-menu-link-background--hover            : null;
    --navbar-menu-link-border-color                 : null;
    --navbar-menu-link-border-color--active         : null;
    --navbar-menu-link-border-color--hover          : null;
    --navbar-menu-link-border-radius                : null;
    --navbar-menu-link-border-style                 : null;
    --navbar-menu-link-border-style--active         : null;
    --navbar-menu-link-border-style--hover          : null;
    --navbar-menu-link-border-width                 : null;
    --navbar-menu-link-color                        : null;
    --navbar-menu-link-color--active                : null;
    --navbar-menu-link-color--hover                 : null;
    --navbar-menu-link-margin                       : 0.75em 0.5em;
    --navbar-menu-link-padding                      : null;
    --navbar-menu-link-text-decoration              : null;
    --navbar-menu-link-text-decoration--active      : null;
    --navbar-menu-link-text-decoration--hover       : null;
    --navbar-menu-link-text-decoration-color        : null;
    --navbar-menu-link-text-decoration-color--active: null;
    --navbar-menu-link-text-decoration-color--hover : null;
}
