/* Plugin: Copy Code
   https://github.com/jperasmus/docsify-copy-code
============================================================================= */
:root {
    --copycode-background: var(--color-gray-light);
    --copycode-color     : #fff;
}
