/* Plugin: Copy Code
   https://github.com/jperasmus/docsify-copy-code
============================================================================= */
:root {
    --copycode-background: #808080;
    --copycode-color     : #fff;
}
