// Content: Readme
// =============================================================================
:root {
    // Blockquote
    --blockquote-border-color      : var(--theme-color);
    --blockquote-border-style      : solid;
    --blockquote-border-width      : 0 0 0 4px;
    --blockquote-border-radius     : 0 3px 3px 0;

    // Links
    --link-border-bottom           : 1px dashed currentColor;
    --link-border-bottom--hover    : 1px solid currentColor;
    --link-color                   : var(--theme-color);

    // Notices (Tip & Warning)
    --notice-before-border-radius  : 100%;
    --notice-before-font-weight    : bold;
    --notice-before-height         : 1.5em;
    --notice-before-left           : calc(-0.75em - 2px);
    --notice-before-line-height    : 1.5;
    --notice-before-position       : absolute;
    --notice-before-top            : calc(50% - 0.75em);
    --notice-before-width          : var(--notice-before-height);
    --notice-border-radius         : 0 3px 3px 0;
    --notice-border-style          : solid;
    --notice-border-width          : 0 0 0 4px;

    // Notice - Important
    --notice-important-background       : var(--mono-shade1);
    --notice-important-before-background: #fa5252;
    --notice-important-before-color     : #fff;
    --notice-important-before-content   : "!";
    --notice-important-border-color     : var(--notice-important-before-background);

    // Notice - Tip
    --notice-tip-background       : var(--mono-shade1);
    --notice-tip-before-background: #4c6ef5;
    --notice-tip-before-color     : #fff;
    --notice-tip-before-content   : "?";
    --notice-tip-border-color     : var(--notice-tip-before-background);
}

