// Sidebar: Readme
// =============================================================================
:root {
    // Nav Links
    --sidebar-nav-link-background-color--active   : var(--theme-color);
    // --sidebar-nav-link-background-color--hover    : rgba(var(--theme-color, 0.1));
    --sidebar-nav-link-border-radius              : 4px 0 0 4px;
    --sidebar-nav-link-color--active              : #fff;
    --sidebar-nav-link-margin                     : 0.1em 0 0.1em calc(0 - var(--sidebar-nav-indent));
    --sidebar-nav-link-padding                    : 0.4em calc(var(--sidebar-nav-indent) * 2) 0.4em var(--sidebar-nav-indent);

    // Nav Links - Pseudo Content
    --sidebar-nav-link-before-content             : null, null, null, '\2022';

    // Nav - Page Links
    --sidebar-nav-pagelink-background-image--loaded       : svg-chevron-data(down, null, 8px, 1.25, currentColor);
    --sidebar-nav-pagelink-background-image--loaded-active: svg-chevron-data(down, null, 8px, 1.25, currentColor);
    --sidebar-nav-pagelink-background-image--notloaded    : svg-chevron-data(right, 8px, null, 1.25, currentColor);
    --sidebar-nav-pagelink-background-position--loaded    : calc(100% - 1rem) center;
    --sidebar-nav-pagelink-background-position--notloaded : calc(100% - 1rem - 3px) center;
    --sidebar-nav-pagelink-background-repeat              : no-repeat;
}
