.markdown-section iframe[src*="buttons.github.io"] {
    margin: 0;
}

.markdown-section .thumbnail {
    display: inline-block;
    max-width: 23%;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.15);
}

.markdown-section .thumbnail + .thumbnail {
    margin-left: 2%;
}

@media (max-width: 30em) {
    .markdown-section .thumbnail {
        max-width: 100%;
    }

    .markdown-section .thumbnail + .thumbnail {
        margin-top: 1em;
        margin-left: 0;
    }
}