// Imports
// =============================================================================
@import "../_styles/code/theme-light";
@import "../_styles/content/notice-icons";


// Content
// =============================================================================
:root {
    // Blockquote
    --blockquote-border-radius          : var(--border-radius-m);
    --blockquote-quotes-close           : close-quote;
    --blockquote-quotes-color           : var(--mono-tint1);
    --blockquote-quotes-font-family     : Georgia, serif;
    --blockquote-quotes-font-size       : 4em;
    --blockquote-quotes-open            : open-quote;

    // Code
    --code-inline-background            : var(--mono-tint2);
    --code-theme-background             : var(--mono-tint3);

    // Headings
    --heading-font-weight               : var(--strong-font-weight);
    --heading-h1-font-weight            : 400;
    --heading-h2-font-weight            : 400;
    --heading-h2-border-color           : var(--mono-tint2);
    --heading-h2-border-style           : solid;
    --heading-h2-border-width           : 0 0 1px 0;
    --heading-h2-margin                 : 2.5rem 0 1.5rem;
    --heading-h2-padding                : 0 0 1rem 0;

    // Strong
    --strong-font-weight                : 600;
}
