// Content: Simple
// =============================================================================
:root {
    // Blockquote
    --blockquote-background        : var(--color-gray-lightest);
    --blockquote-border-radius     : var(--border-radius-m);
    --blockquote-quotes-close      : close-quote;
    --blockquote-quotes-color      : rgba(0, 0, 0, 0.2);
    --blockquote-quotes-font-family: Georgia, serif;
    --blockquote-quotes-font-size  : 4em;
    --blockquote-quotes-open       : open-quote;

    // Headings
    --heading-font-weight          : var(--strong-font-weight);
    --heading-h1-font-weight       : 400;
    --heading-h2-font-weight       : 400;
    --heading-h2-border-color      : var(--color-gray-lighter);
    --heading-h2-border-style      : solid;
    --heading-h2-border-width      : 0 0 1px 0;
    --heading-h2-margin            : 2.5rem 0 1.5rem;
    --heading-h2-padding           : 0 0 1rem 0;

    // Keyboard
    --kbd-background               : var(--color-gray-lightest);
    --kbd-border                   : 1px solid var(--color-gray-light);
    --kbd-border-radius            : var(--border-radius-m);

    // Notices (Tip & Warning)
    --notice-before-border-radius  : var(--border-radius-m);
    --notice-before-font-size      : var(--font-size-s);
    --notice-before-font-weight    : 600;
    --notice-before-left           : 0;
    --notice-before-line-height    : 1.5;
    --notice-before-padding        : 0 0.6em;
    --notice-before-position       : absolute;
    --notice-before-top            : -0.75em;
    --notice-border-radius         : 0 0 var(--border-radius-m) var(--border-radius-m);
    --notice-border-style          : solid;
    --notice-border-width          : 1px 0 0;

    // Notice - Important
    --notice-important-background       : #fff5f5;
    --notice-important-before-background: #ff6b6b;
    --notice-important-before-color     : #fff;
    --notice-important-before-content   : "Important";
    --notice-important-border-color     : var(--notice-important-before-background);

    // Notice - Tip
    --notice-tip-background        : #edf2ff;
    --notice-tip-before-background : #5c7cfa;
    --notice-tip-before-color      : #fff;
    --notice-tip-before-content    : "Tip";
    --notice-tip-border-color      : var(--notice-tip-before-background);

    // Strong
    --strong-font-weight           : 600;
}
