// Cover
// =============================================================================
:root {
    --cover-text-align           : left;

    // Background
    --cover-background-color     : hsl(205, 25%, 60%);
    --cover-background-image     : radial-gradient(ellipse at center 115%, rgba(255, 255, 255, 0.85), transparent);

    // Blockquote (Subtitle)
    --cover-blockquote-color     : var(--strong-color);

    // Heading
    --cover-heading-color        : #fff;
    --cover-heading-font-size-max: 56; // Unitless px
    --cover-heading-font-size-min: 34; // Unitless px
    --cover-heading-font-weight  : 200;
}
