// Plugin: Search
// =============================================================================
:root {
    // Input
    --search-input-background-color      : #fff;
    --search-input-background-image      : #{svg-data-uri('<svg height="20px" width="20px" viewBox="0 0 24 24" fill="none" stroke="rgba(0, 0, 0, 0.3)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"><circle cx="10.5" cy="10.5" r="7.5" vector-effect="non-scaling-stroke"></circle><line x1="21" y1="21" x2="15.8" y2="15.8" vector-effect="non-scaling-stroke"></line></svg>')};
    --search-input-background-position   : 25px center;
    --search-input-border-color          : var(--sidebar-border-color);
    --search-input-border-width          : 1px 0;
    --search-input-margin                : 0 -25px;
    --search-input-padding               : 0.65em 1em 0.65em 50px;
    --search-input-placeholder-color     : rgba(0, 0, 0, 0.4);

    /* Clear Button */
    --search-clear-icon-color1           : rgba(0, 0, 0, 0.3);

    // Results
    --search-result-heading-font-weight  : var(--strong-font-weight);
    --search-result-item-border-color    : var(--sidebar-border-color);
    --search-result-keyword-border-radius: var(--border-radius-s);
}
