// Sidebar
// =============================================================================
:root {
    --sidebar-background                     : var(--mono-tint3);
    --sidebar-border-color                   : var(--mono-tint2);
    --sidebar-border-width                   : 0 1px 0 0;

    // Heading
    --sidebar-heading-color                  : var(--theme-color);
    --sidebar-heading-font-weight            : 300;

    // Nav Headings
    --sidebar-nav-strong-border-width        : 0 0 1px 0;
    --sidebar-nav-strong-font-size           : smaller;
    --sidebar-nav-strong-margin              : 2em 0 0.65rem 0;
    --sidebar-nav-strong-padding             : 0 0 0.65rem 0;
    --sidebar-nav-strong-text-transform      : uppercase;

    // Nav Links
    --sidebar-nav-link-border-color           : transparent;
    --sidebar-nav-link-border-color--active   : var(--theme-color);
    --sidebar-nav-link-border-style           : solid;
    --sidebar-nav-link-border-width           : 0 4px 0 0;
    --sidebar-nav-link-color--active          : var(--theme-color);
    --sidebar-nav-link-margin                 : 0 -25px 0 0;
    --sidebar-nav-link-text-decoration        : none;
    --sidebar-nav-link-text-decoration--active: none;
    --sidebar-nav-link-text-decoration--hover : underline;

    // Nav Links - Pseudo Content
    --sidebar-nav-link-before-content         : '-';
    --sidebar-nav-link-before-content-l1      : none;
    --sidebar-nav-link-before-content-l2      : none;

    // Nav Page Links
    --sidebar-nav-pagelink-background-image             : #{chevron-data-uri(right, 7px, null, 1.5, #b3b3b3)};
    --sidebar-nav-pagelink-background-image--active     : #{chevron-data-uri(down, null, 7px, 1.5, #0b87da)};
    --sidebar-nav-pagelink-background-image--collapse   : #{chevron-data-uri(right, 7px, null, 1.5, #0b87da)};
    --sidebar-nav-pagelink-background-image--loaded     : #{chevron-data-uri(down, null, 7px, 1.5, #0b87da)};
    --sidebar-nav-pagelink-background-position          : 3px center;
    --sidebar-nav-pagelink-background-position--active  : left center;
    --sidebar-nav-pagelink-background-position--collapse: var(--sidebar-nav-pagelink-background-position);
    --sidebar-nav-pagelink-background-position--loaded  : var(--sidebar-nav-pagelink-background-position--active);
    --sidebar-nav-pagelink-padding                      : 0.25em 0 0.25em 20px;
    --sidebar-nav-pagelink-transition                   : none;

    // Toggle
    --sidebar-toggle-background               : var(--sidebar-border-color);
    --sidebar-toggle-border-radius            : 0 var(--border-radius-s) var(--border-radius-s) 0;
    --sidebar-toggle-width                    : 32px;
}
